body {
    font-family: 'Roboto', sans-serif;
        margin: 0;
    padding: 0;
}
.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}
.container {
    display: flex;
    align-items: center;
    position: relative; 
    width: 100vw; 
    height: 90vh;
}
.selector {
}

.selector ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.selector ul li {
    margin: 0;
    padding: 6px;
    cursor: pointer;
}

.selector ul li.active {
    background: #F433AB;
    color: white;
}
#mapholder {
    position: relative; 
    width: 80%; 
    height: 90vh;
    }

    @media screen and (min-width: 300px) and (max-width: 767px) {

    .container, #mapholder {
        flex-flow: column;
        width: 100%;
    }

    .selector li {
        font-size: .7em;
        display: inline-block;
    }
}